&pinctrl {
    /* Sürücünün 2 hatası verip çökmesini engelleyecek içi boş pin ayarı */
    adc0_dummy: adc0_dummy {
    };
};

&adc0 {
    /* Sürücüye aradığı ayarı veriyoruz ki sistemi başarıyla başlatsın */
    pinctrl-0 = <&adc0_dummy>;
    pinctrl-names = "default";
};